/**
 * This file contains site-specifc style overrides for Notion elements from
 * react-notion-x.
 *
 * react-notion-x's goal is to match styling as close as possible to Notion,
 * whereas our goal with this site is to adjust Notion's styling in a few key
 * places to add some flare.
 */
@import 'tailwindcss';

.notion {
  --notion-max-width: 900px;
  --notion-header-height: 60px;
}

.notion-frame {
  padding: 0;
}

.notion-page {
  padding-bottom: calc(max(5vh, 100px)) !important;
  line-height: 1.65;
}
/*
.index-page {
  --notion-max-width: 900px;
} */

.notion-page {
  .notion-page-content .notion-collection {
    .notion-gallery {
      .notion-collection-card {
        box-shadow: none;
        .notion-collection-card-cover {
          border-bottom: 0 none;
        }
      }
      .notion-gallery-grid {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        grid-auto-rows: max-content;
        row-gap: 3vmin;
      }
      .notion-collection-card-cover {
        height: unset;
        aspect-ratio: 1 / 1;
      }
    }
  }
  &.collection-b625732d-c414-40b8-b3b6-90b6142445ff {
    /* Pessoas */
    .notion-property-checkbox {
      /* display: none; */
    }
    .notion-collection-row-body {
      .notion-property-file img {
        min-height: 300px;
      }
    }
    .notion-table {
      overflow: hidden;
    }
  }
  &.collection-9a54f131-4cca-4b45-a8cd-fe97f48448c8 {
    /* Livros */
    .notion-collection-row-body {
      .notion-property-file img {
        min-height: 300px;
      }
    }
    .notion-page-content .notion-collection {
      .notion-gallery {
        .notion-collection-card-cover {
          aspect-ratio: 2 / 3;
        }
        .notion-gallery-grid {
          .notion-page-title {
            width: 100%;
            .notion-page-title-text {
              font-size: 1.5em;
              text-align: center;
              width: 100%;
            }
          }
        }
      }
    }
  }
  &.collection-edef92ce-0a6f-41e7-b882-2c54bb0a94ad {
    /* Videos */
    .notion-block-172a2395517b80af991de37f7a7be13b {
      /* table */
      .notion-collection-group {
        .notion-collection-group-title {
        }
        .notion-table {
          /* overflow: hidden; */
        }
      }
      details:last-of-type {
        /* your styles here */
        display: none;
      }
    }
    .notion-block-126a2395517b80a586f2e8c82ffdac85 {
      /* thumbnail-grabber */
      display: none;
    }
    .notion-collection-row-body {
      .notion-property-file img {
        min-height: 300px;
      }
    }
    .notion-page-content .notion-collection {
      .notion-gallery {
        .notion-collection-card-cover {
          aspect-ratio: 16 / 9;
        }
        .notion-gallery-grid .notion-page-title-text {
          font-size: 1.2em;
        }
      }
    }
  }
  &.collection-1b3a2395-517b-80e2-b69c-000b5641bd7b {
    /* Artigos */
    .notion-table {
      overflow: hidden;
    }
    .notion-page-content .notion-collection {
      .notion-gallery {
        .notion-gallery-grid {
          .notion-page-title {
            width: 100%;
            .notion-page-title-text {
              font-size: 1.4em;
              text-align: center;
              width: 100%;
            }
          }
        }
      }
    }
    .notion-block-1b3a2395517b80a09e76d6d4d3d02da9 {
      details:last-of-type {
        /* your styles here */
        display: none;
      }
    }
  }
  &.collection-c4f5056d-3497-4697-a0e5-a5f6b0b1399f {
    /* Templates */
    .notion-table {
      overflow: hidden;
    }
  }
  &.collection-1e7a2395-517b-809e-9578-000bb584eeff {
    /*  Stack */
    .notion-collection-row-body {
      .notion-property-file img {
        min-height: 300px;
      }
    }
    .notion-page-content .notion-collection {
      .notion-gallery {
        .notion-collection-card-cover {
          aspect-ratio: 16 / 9;
        }
        .notion-gallery-grid {
          grid-template-columns: repeat(
            auto-fill,
            minmax(130px, 1fr)
          ) !important;
          .notion-page-title-text {
            font-size: 1.6em;
          }
        }
      }
    }
    .notion-table {
      overflow: hidden;
    }
    .notion-block-1e7a2395517b804a9451de634a9a0b50 {
      details:last-of-type {
        /* your styles here */
        display: none;
      }
    }
  }
  .notion-page-title .notion-page-icon-inline {
    flex-shrink: 0;
  }
}
.footerlinks {
  .copyright {
  }
  .settings {
  }
  .social a {
    @apply p-0 !shadow-none inset-shadow-none ring-0 inset-ring-0;
  }
}

.dark-mode .notion-blue_background,
.dark-mode .notion-brown_background,
.dark-mode .notion-gray_background,
.dark-mode .notion-orange_background,
.dark-mode .notion-pink_background,
.dark-mode .notion-purple_background,
.dark-mode .notion-red_background,
.dark-mode .notion-teal_background,
.dark-mode .notion-yellow_background {
  padding: 3px;
}
.notion {
  .notion-blue_background {
    background: rgba(231, 243, 248, 1);
  }
  .notion-brown_background {
    background: rgba(244, 238, 238, 1);
  }
  .notion-gray_background {
    background: rgba(248, 248, 247, 1);
  }
  .notion-orange_background {
    background: rgba(251, 236, 221, 1);
  }
  .notion-pink_background {
    background: rgba(252, 241, 246, 1);
  }
  .notion-purple_background {
    background: rgba(248, 243, 252, 1);
  }
  .notion-red_background {
    background: rgba(253, 235, 236, 1);
  }
  .notion-teal_background {
    background: rgba(237, 243, 236, 1);
  }
  .notion-yellow_background {
    /* rgba(86, 67, 40, 1) */
    background: rgba(251, 243, 219, 1);
  }
}
.dark-mode {
  .notion-blue_background {
    background: rgba(20, 58, 78, 1);
  }
  .notion-brown_background {
    background: rgba(74, 50, 40, 1);
  }
  .notion-gray_background {
    background: rgba(47, 47, 47, 1);
  }
  .notion-orange_background {
    background: rgba(92, 59, 35, 1);
  }
  .notion-pink_background {
    background: rgba(78, 44, 60, 1);
  }
  .notion-purple_background {
    background: rgba(60, 45, 73, 1);
  }
  .notion-red_background {
    background: rgba(82, 46, 42, 1);
  }
  .notion-teal_background {
    /* aka Green */
    background: rgba(36, 61, 48, 1);
  }
  .notion-yellow_background {
    /* rgba(86, 67, 40, 1) */
    background: rgba(86, 67, 40, 1);
  }
}
