@import 'tailwindcss';
@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));
:root {
  /* Classic Nord color names */
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
  --border: #e5e7eb;
  /* Default (Light Mode) Highlight Color */
  --highlight: var(--nord11); /* Light mode uses nord13 */
  --radius: 0.6rem;
}

.dark-mode {
  --highlight: var(--nord10); /* Dark mode uses nord10 */
  --border: hsl(240 3.7% 15.9%);
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body,
html {
  padding: 0;
  margin: 0;
}

body {
  --notion-font:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', 'Noto Sans', sans-serif;
  font-family: var(--notion-font);
  overflow-x: hidden;
}

.static-tweet blockquote {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.static-tweet-emoji {
  height: 1.2em !important;
  width: 1.2em !important;
}

.searchInput {
  color: var(--fg-color);
  caret-color: var(--fg-color);
}

/* ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #f5f5f5;
  background-color: var(--bg-color-1);
} */

/* ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--fg-color-1);
} */

/* ::-webkit-scrollbar-track {
  background-color: var(--bg-color);
} */

.dark-mode {
  .notion-collection-view-tabs-content-item:hover {
    background-color: var(--bg-color-1);
  }
  .notion-collection-view-type-icon {
    fill: var(--fg-color);
  }
  .notion-collection-view-tabs-content-item-active {
    border-bottom: 2px solid var(--fg-color);
  }
}
blockquote {
  p.quote {
    text-wrap: balance;
    position: relative;
    quotes: '“' '„' '‚' '‘';
  }
  p.quote::before,
  p.quote::after {
    font-family: 'Times New Roman', Times, serif;
    /* font-size: 2em; */
  }
  p.quote::before {
    content: open-quote;
    font-size: 2em;
    position: absolute;
    left: -0.6em;
    top: -0.3em;
  }
  p.quote::after {
    content: close-quote;
    font-size: 1.6em;
    line-height: 0.1;
  }
}
.notion-page-has-cover .notion-page-icon-hero.notion-page-icon-image {
  /* top: 0; */
}
.notion-hr {
  /* color: red; */
  @apply h-px my-8 bg-gray-200 border-0 dark:bg-gray-700;
}
.notion-link:focus,
.notion-link:hover {
  background-image: none !important;
  border-bottom-color: var(--highlight) !important;
}

:root {
  --radius: 0.6rem;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}
.index-page .notion-page-link {
  display: flex;
  place-content: center;
  border-radius: 0.3rem;
  height: auto;
  @apply py-4;
}
.notion-table {
  /* width: unset !important; */
  /* max-width: unset !important; */
  /* margin-inline: auto; */
}
@theme inline {
  --color-border: var(--border);
  --background: var(--bg-color);
  --foreground: var(--fg-color);
}
@layer base {
  * {
    /* @apply border-border outline-ring/50; */
  }
  body {
    /* @apply bg-background text-foreground; */
  }
}

.notion-page-scroller main.notion-page {
  margin: unset;
}
.footer {
  @apply px-4 py-2 w-full flex flex-row justify-between items-center;
}
.notion-header {
  backdrop-filter: blur(20px) !important;
  box-shadow: unset !important;
  .notion-search-button {
    height: 44px;
    width: 44px;
  }
  .searchIcon {
    height: 16px;
    width: 16px;
  }
}
.index-page {
  .notion-title {
    opacity: 0;
    position: absolute;
  }
  article {
    display: none;
  }
}
.notion-page {
  /* @apply container max-w-5xl mx-auto; */
}
.heroheader {
  display: flex;
  place-items: center;
}

.index-page {
  padding: 0;
  .notion-page-content {
    display: none;
  }
}
.notion-page {
  &.collection-9a54f131-4cca-4b45-a8cd-fe97f48448c8 {
    .notion-property-file img {
      min-height: 300px;
    }
  }
  .notion-page-content .notion-collection {
    .notion-gallery {
      .notion-gallery-grid {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        grid-auto-rows: max-content;
        row-gap: 3vmin;
      }
      .notion-collection-card-cover {
        height: unset;
        aspect-ratio: 1 / 1;
      }
    }
    &.notion-block-126a2395517b806a8b4cf8be571353c4 {
      /* LIVRO */
      .notion-collection-card-cover {
        aspect-ratio: 2 / 3;
      }
      .notion-gallery-grid {
        .notion-page-title {
          width: 100%;
          .notion-page-title-text {
            font-size: 1.5em;
            text-align: center;
            width: 100%;
          }
        }
      }
    }
    &.notion-block-172a2395517b80af991de37f7a7be13b {
      /* VIDEO */
      .notion-collection-card-cover {
        aspect-ratio: 16 / 9;
      }
      .notion-gallery-grid .notion-page-title-text {
        font-size: 1.2em;
      }
    }
  }
}
.footerlinks {
  .copyright {
  }
  .settings {
  }
  .social a {
    @apply p-0 !shadow-none inset-shadow-none ring-0 inset-ring-0;
  }
}
